<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style type="text/css">
    .bordertable td{
        border:1px solid black;
        font-size:6px;
    }
</style>
<body>
<table bgcolor="#d3d3d3" width="100%">
    <tr><td>Abstimmungsbeleg</td><td>KTO</td></tr>
    <tr><td>Datum</td><td>Auszug Datum</td></tr>
</table>

<table>
    <tr>
        <td>Bezeichnung</td>
        <td>Konto</td>
        <td>Eingang</td>
        <td>Ausgang</td>
    </tr>
</table>


<table>
    <tr>
        <td>Anfangssaldo</td>
        <td>0000.00</td>
    </tr>
    <tr>
        <td>Summe Eingang</td>
        <td>0000.00</td>
    </tr>
    <tr>
        <td>Summe Ausgang</td>
        <td>0000.00</td>
    </tr>
    <tr>
        <td>Endsaldo</td>
        <td>0000.00</td>
    </tr>
    <tr>
        <td>Kontrollsumme</td>
        <td>0000.00</td>
    </tr>
</table>
</body>
</html>